/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
    text-decoration: none;
    color: var(--color-white);
}

/* general */
:root {
	--color-orange: #ff6900;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-bgcards: #E4E4E4;
	--color-not-black: #1a1a1a;
	--color-discount: #fd0101;
	--color-vegan: #018004;
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  background-color: var(--color-white);
  color: var(--color-black);
}
.container {
    max-width: 1200px;
    margin: auto;
}

/* header */
header {
    background-color: var(--color-orange);
    padding: 20px 0;
}
#logo {
    width: 100%;
    height: 30px;
}

/* padding utility */
.paddleftright-10 {
    padding: 0 10px;
}

/* flex utility */
.d-flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}